# /target ディレクトリ内のすべてのファイルを無視
/target/*

# /target/debug/ および /target/x86_64-pc-windows-gnu/ ディレクトリを除外して追跡
!/target/debug/
!/target/x86_64-pc-windows-gnu/

# /target/debug/weper_cli および /target/x86_64-pc-windows-gnu/weper_cli.exe を除外して追跡
!/target/debug/weper_cli
!/target/x86_64-pc-windows-gnu/weper_cli.exe
