# /target ディレクトリ内のすべてのファイルを無視
/target/*
/target/**

# /target/debug/ と /target/x86_64-pc-windows-gnu/ ディレクトリを追跡
!/target/debug/
/target/debug/*
!/target/debug/weper_cli

!/target/x86_64-pc-windows-gnu/
/target/x86_64-pc-windows-gnu/*
!/target/x86_64-pc-windows-gnu/weper_cli.exe
