name: Build and Release Binaries

on:
  push:
    branches:
      - main

jobs:
  build-and-release-windows:
    runs-on: windows-latest
    steps:
      - name: Checkout code
        uses: actions/checkout@v2

      - name: Install Rust
        uses: actions-rs/toolchain@v1
        with:
          toolchain: stable
          default: true

      - name: Build Binary for Windows
        run: cargo build --release --target x86_64-pc-windows-msvc

      - name: Upload Release Asset for Windows
        uses: actions/upload-artifact@v2
        with:
          name: windows-binary
          path: target/x86_64-pc-windows-msvc/release/weper_cli.exe

  build-and-release-linux:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout code
        uses: actions/checkout@v2

      - name: Install dependencies
        run: |
          sudo apt-get update
          sudo apt-get install -y libssl-dev pkg-config

      - name: Install Rust
        uses: actions-rs/toolchain@v1
        with:
          toolchain: stable
          default: true

      - name: Build Binary for Linux
        run: cargo build --release --target x86_64-unknown-linux-gnu

      - name: Upload Release Asset for Linux
        uses: actions/upload-artifact@v2
        with:
          name: linux-binary
          path: target/x86_64-unknown-linux-gnu/release/weper_cli

  create-release:
    needs: [build-and-release-windows, build-and-release-linux]
    runs-on: ubuntu-latest
    steps:
      - name: Download Artifacts
        uses: actions/download-artifact@v2

      - name: Create Release
        id: create_release
        uses: actions/create-release@v1
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
        with:
          tag_name: ${{ github.ref }}
          release_name: Release ${{ github.sha }}
          draft: false
          prerelease: false

      - name: Upload binaries to Release
        uses: actions/upload-release-asset@v1
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
        with:
          upload_url: ${{ steps.create_release.outputs.upload_url }}
          asset_path: ./windows-binary/weper_cli.exe
          asset_name: weper_cli_windows.exe
          asset_content_type: application/octet-stream

      - name: Upload binaries to Release
        uses: actions/upload-release-asset@v1
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
        with:
          upload_url: ${{ steps.create_release.outputs.upload_url }}
          asset_path: ./linux-binary/weper_cli
          asset_name: weper_cli_linux
          asset_content_type: application/octet-stream
