name: Sync File F to Repository R2

on:
  push:
    paths:
      - 'target/release/weper_cli'
      - 'target/x86_64-pc-windows-gnu/release/weper_cli.exe'
      - 'README.md'


jobs:
  sync:
    runs-on: ubuntu-latest
    steps:
    - name: Checkout Repository R1
      uses: actions/checkout@v2
      with:
        repository: 'gaku-tanaka01/weper'

    - name: Copy Application
      run: |
        ls $GITHUB_WORKSPACE

    - name: Checkout Repository R2
      uses: actions/checkout@v2
      with:
        repository: 'gaku-tanaka01/release_weper'
        token: ${{ secrets.ACCESS_TOKEN }}  # R2へのpush権限があるtoken
        path: 'R2' # コピー先ディレクトリを作成

    - name: Move File F to Repository R2
      run: |
        ls $GITHUB_WORKSPACE/
        mv $GITHUB_WORKSPACE/weper_cli R2/
        mv $GITHUB_WORKSPACE/weper_cli.exe R2/ 

    - name: Commit and Push
      run: |
        cd R2
        git config --local user.email "tanaka"
        git config --local user.name "your_username"
        git add .
        git commit -m "Update file F from R1"
        git push
