    - name: Sync file to destination repository
      run: |
        # Create a new directory for the target repository
        mkdir target-repo
        cd target-repo

        # Initialize a new Git repository
        git init
        # Create and switch to 'main' branch if it does not exist
        git checkout -b main

        # Copy the specific file from the source repository
        cp ../target/debug/weper_cli ./weper_cli
        git add weper_cli
        cp ../target/x86_64-pc-windows-gnu/debug/weper_cli.exe ./weper_cli.exe
        git add weper_cli.exe
        cp ../README.md ./README.md
        git add README.md

        # Commit the file
        git commit -m "Sync weper_cli from source repository"

        # Add the remote repository URL
        git remote add origin https://github.com/idea-shukatsu/weper.git

        # Force push to the destination repository
        git push -u origin main --force
