name: Test Release

on:
  push:
    tags:
      - 'test-*'

jobs:
  test-release:
    runs-on: ubuntu-latest
    steps:
      - name: Create Release
        id: create_test_release
        uses: actions/create-release@v1
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
        with:
          tag_name: ${{ github.ref_name }}
          release_name: Test Release ${{ github.sha }}
          draft: true
